<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>

</head>
<body>
    <h1>Checkout</h1>
      <h2>Total: <span th:text="${Total}"></span></h2>
    <h2>Quantity: <span th:text="${Quantity}"></span></h2>

    <form action="/check-phone" method="POST">
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" required>
        <button type="submit">Checkout</button>
    </form>

    <div id="result">
        <!-- Thông tin tên và địa chỉ sẽ được hiển thị ở đây -->
    </div>
<script type="text/javascript" src="/JS/checkout.js"></script>
	
	
</body>
</html>